.vision_dark {
    position: relative;
    background-color: rgb(46,48,50);
    border: 2px solid white;
    font-family: Verdana, Geneva, Tahoma, "Arial", sans-serif;
    font-size: 22px;
    width: 333.5px;
    margin: 40px 0px 0px 20px;
    border-radius: 6px;
    color: #DCDCDC;
    font-weight: bold;
}

.vision_light {
    position: relative;
    background-color: rgb(46,48,50);
    border: 1.5px solid #333;
    font-family: Verdana, Geneva, Tahoma, "Arial", sans-serif;
    font-size: 22px;
    width: 333.5px;
    margin: 40px 0px 0px 20px;
    border-radius: 6px;
    color: white;
    font-weight: bold;
}


.close_vision_bg {
    color: white;
    position: absolute;
    background-color: none;

    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    top: 5px;
    left: 300px;
    
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
}

.close_vision_bg:hover {
    color: #DCDCDC;
}