.block_place {
    position: relative;
    width: 335px;
    bottom: 63px;
    margin: 100px 20px;
}

.img_create_dark {
    position: absolute;
    height: auto;

    width: 335px;
    height: 64px;
    border: 1px solid white;
}

.img_create_light {
    position: absolute;
    height: auto;

    width: 335px;
    height: 64px;
    border: 1px solid #333;
}


.place_input {
    position: absolute;
    font-size: 16px;
    text-align: center;
    left: 242px;
    top: 34px;
    background-color: #FFF;
    border-radius: 6px;
    border: none;
    height: 23px;
    width: 77.55px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.place_btn {
    position: absolute;
    height: 25px;

    left: 242px;
    top: 5px;

    background-color: #aba599;
    color: white;
    
    border: none;
    border-radius: 6px;
}

.place_btn:hover {
    background: #DCDCDC;
    color: #333;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

button,
img {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
}
